/*/////cards///////*/
.cards {
	background: #deddda;
}

.cards-holder {
	display: flex;
	margin: 0 -45px;

	@include media('<desktop') {
		margin: 0 -30px;
	}

	@include media('<tablet') {
		flex-wrap: wrap;
		margin: 0;
		padding: 40px 0;
	}
}

.card-wrap {
	display: flex;
	width: 33.33%;
	word-break: break-word;
	padding: 40px 45px 60px 45px;

	@include media('<desktop') {
		padding: 0;
		margin: 0 0 40px 0;
		&:last-child {
			margin: 0;
		}
	}

	@include media('<tablet') {
		justify-content: center;
		width: 100%;			
	}
}

.card {
	flex-grow: 1;
	padding: 50px 0;
	border-radius: 10px;
	background: linear-gradient(to top, #92011a, #c21a20);
	text-align: center; 

	@include media('<tablet') {
		flex-grow: unset;
		max-width: 450px;
		width: 100%;
		}

	img {

		@include media('<desktop') {
			width: 90px;
		}
	}
}

.card-name {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	padding: 25px 10px 0 10px;
	color: white;

	@include media('<desktop') {
		font-size: 22px;
		line-height: 1.35;
	}
}

/*partners*/
.partners-wrapp {
	border-top: 14px solid #958f82;
}

.partners {
	padding: 25px 0 30px 0;
}

.name-partners {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}

.all-partners {
	display: flex;
	justify-content: space-between;
	padding: 25px 0 0 0;
	flex-wrap: wrap;

	@include media('<desktop') {
		justify-content: center
	}

	li {
		text-align: center;

		img {
			width: 100%;
		}

		@include media('<desktop') {
			margin: 10px 20px;
		}

		@include media('<tablet') {
			width: 25%;
			margin: 10px 20px;
		}

		&:hover {
			opacity: .7;
		}
	}	
}
