.banner-slider {
	display: flex;
	.container {
		padding: 0 0 20px 0;
		min-height: 650px;
		display: flex;
		width: 100%;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;

		@include media('<xl-widescreen') {
			min-height: 500px;
		}

		@include media('<widescreen') {
			min-height: 350px;
		}

		@include media('<desktop') {
			min-height: 330px;
		}

		@include media('<tablet') {
			min-height: 255px;
		}
		@include media('<phone') {
			min-height: 190px;
		}
	}
	h1 {
		margin: 0 25px 15px 0; 
		font-weight: 100;
		.text-wrap:first-child {
			line-height: 0;
		}
	}
}

.slide-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.text-wrap {
	display: block;
}

.text-xs {
	font-size: 35px;
	margin: 0 25px 0 0;
	@include media('<tablet') {
		font-size: 17px;
		margin: 0 12px 0 0;
	}
}

.text-sm {
	font-size: 60px;
	@include media('<tablet') {
		font-size: 30px;
	}
}

.text-ld {
	font-size: 100px;
	margin: 0 25px 0 0;
	line-height: 0.8;
	@include media('<tablet') {
		font-size: 50px;
		margin: 0 12px 0 0;
		line-height: 1;
	}
}

.text-md {
	font-size: 70px;
	@include media('<tablet') {
		font-size: 35px;
	}
}
 



