/*//////Contact page//////*/

.contact-wrap {
	background: #deddda;

	h4 {
		font-size: 20px;
		color: #ac191d;
		padding: 22px 0 0 22px;

		@include media('<phone') {
			padding: 22px 0 0 0;
		}
	}

	.contact-text {
		font-size: 35px;
		padding: 0 0 0 22px;
		font-weight: bold;

		@include media('<phone') {
			font-size: 28px;
			padding: 0;
		}
	}

	.contact {
		display: flex;
		padding: 22px;

		@include media('<desktop') {
			padding: 22px 0;
		}

		@include media('<tablet') {
			flex-direction: column;
		}
	}
}

.contact-info,
.contact-form {
	width: 50%;

	@include media('<tablet') {
		width: 100%;
	}
}

.contact-info {
	position: relative;
	padding: 0 20px 0 0;
	overflow-wrap: break-word;

	@include media('<phone') {
		padding: 0;
	}

	&:after {
		content: '';
		width: 3px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 30px;
		background:#fff;

		@include media('<tablet') {
			display: none;
		}
	}

	@include media('<tablet') {
			margin: 0 0 20px 0;
		}

	li {
		display: flex;
		align-items: center;
		padding: 0 0 50px 0;

		@include media('<desktop') {
			padding: 0 0 30px 0;
		}

		@include media('<phone') {
			flex-direction: column;
		}
		span {
			display: block;
		}
	}

	a {
		font-size: 22px;
		word-wrap: break-word;
		width: 74%;
		transition: .3s;

		@include media('<desktop') {
			font-size: 18px;
		}
		&:hover {
			color: #ac191d;
		}
	}
 .txt-contact {
 		width: 78%;
		font-size: 22px;
		word-wrap: break-word;

		@include media('<desktop') {
			font-size: 18px;
		}

		@include media('<phone') {
			width: 100%;
			text-align: center;
		}
	}
}	

.img-holder {
	position: relative;
	width: 65px;
	height: 65px;
	border-radius: 15px;
	background: white;
	margin: 0 15px 0 0;
}

.icon-home,
.icon-phone,
.icon-mail {
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 40px;
	}
}	

.contact-map {
	margin: 0 15px;

	@include media('<tablet') {
		text-align: center;
	}
	img {
		width: 100%;
		border: 5px solid white;	

		@include media('<tablet') {
			width: inherit;
		}

		@include media('<phone') {
			width: 100%;
		}
	}
}

.contact-form {
	padding: 0 0 0 30px;

	@include media('<tablet') {
		padding: 0;
	}
}

.input-holder {
	label {
		display: inline-block;
		font-size: 22px;
		word-break: break-word;
		
		@include media('<desktop') {
			font-size: 18px;
		}
	}	
	input,
  textarea {
		width: 100%;
		height: 40px;
		padding: 0 10px;
		margin: 15px 0;
		border: none;
		&:focus {
			outline: none;
			box-shadow: 0 0 10px 0px rgba(251, 10, 17, 0.5);
		}
	}
}

#masseg {
	height: 245px;
	resize: none;
	padding: 10px;
}

.submit-holder {
	text-align: center;
	padding: 20px 0 0 0;
}

#submit {
	background: #333333;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 22px;
	padding: 10px;
	transition: background 0.3s;
	min-width: 126px;
	max-width: 300px;
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
	&:hover {
		background: #ac191d;
	}
}

