/*footer*/
.footer {
	background: #333333;
	border-top: 14px solid #958f82;
	.container {	
		padding: 25px 20px 12px 20px;
	}
}

.container-footer {
	display: flex;
	padding: 0 0 40px 0;
	margin: 0 -20px;
	@include media('<desktop')  {
		flex-wrap: wrap;
	}
	@include media('<tablet') {
		justify-content: center;
		text-align: center;
		margin: 0;
	}
		.name {
			font-size: 18px;
			color: #fff;
			padding: 0 0 13px 0;
		}
	li {
		color: white;
		line-height: 1.2;
		a {
			transition: color 0.3s;
			&:hover {
				color: #ac191d;
			}
		}	
	}
}



.kontaktadresse {
	width: 30%;
	@include media('<desktop')  {
		width: 50%;
	}
}

.wichtige-links {
	width: 20%;
	@include media('<desktop')  {
		width: 50%;
	}
}

.lage {
	max-width: 400px;
	padding: 0 20px;
	@include media('<tablet') {
		padding: 0;
	}	
}

.kontaktadresse,
.wichtige-links {
	word-break: break-word;
	padding: 0 20px;
	@include media('<desktop') {
		margin: 0 0 25px 0;
	}	
	@include media('<tablet') {
		margin: 0 0 25px 0;
		width: 100%;
		padding: 0;
	}
}

.map-holder img {
@include media('<tablet') {
		width: 100%;
		padding: 0;
	}
}

.footer-links {
	display: flex;
	font-size: 12.5px;
	color: #fff;
	flex-wrap: wrap;

	span {
		display: inline-block;
		margin: 0 7px 0 0;
		white-space: nowrap;

		@include media('<tablet') {
				margin: 0 0 15px 0;
				text-align: center;
				width: 100%;
			}
	}

	a {
		transition: color 0.3s;
		&:hover {
			color: #ac191d;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		@include media('<tablet') {;
				width: 100%;
			}

		@include media('<phone') {
			display: block;
		}

		li {
			margin: 0 15px 5px 0;
			position: relative;

			@include media('<tablet') {
				margin: 0 0 15px 0;
				text-align: center;
				width: 100%;
			}

			&:after {
				content: '';
				position: absolute;
				right: -7.5px;
				width: 1px;
				height: 100%;
				background: #fff;

				@include media('<tablet') {
					display: none;
				}
			}
			&:last-child {
				&:after{ 
					display: none;
				}
			}
		} 	
	}
}