.sondermaschinen {
	padding: 30px 15px 20px 15px;
	h3{
		color: #ac191d;
		font-size: 35px;
	}
	p {
		padding: 0 10px;
		margin: 0 0 35px 0;
		font-size: 20px;
		max-width: 824px;
		line-height: 1.5;
	}
	.example {
		padding: 25px 0;
		display: block;
		color: #ac191d;
		font-size: 20px;
		font-weight: bold;
	}
}

.way {
	img {
		width: 100%;
	}
}

/*tad first page*/
.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.container-tab {
	display: flex;
	@include media('<tablet') {
		display: block;
	}
}

.tabset {
	width: 20%;
	@include media('<tablet') {
		display: flex;
		width: 100%;
	}
	li {
		color: white;
		background: #ac191d;
		height: 50px;
		margin: 5px 5px 5px 0;
		@include media('<tablet') {
			margin: 0 5px 0 0;
		}
		.active {
			background: #333;
			margin: 5px -5px 5px 0;
			@include media('<tablet') {
				margin: 0;
			}
		}
		a {
			display: flex;
			height: 100%;
			margin: 0;
			align-items: center;
			padding: 0 0 0 15px;
			@include media('<tablet') {
				padding: 0 15px;
				text-align: center;
			}
		}
	}
}

.tab-content {
	background: #333;
	padding: 20px 20px;
	margin: 5px 0;
	width: 80%;
	@include media('<tablet') {
		padding: 10px 10px;
		width: 100%;
		margin: 0;
	}
}

.slider-for {
	.slide-one {
		outline: none;
		img {
			width: 100%;
		}
	}	
}


.slider-nav {
	padding: 20px 0 0 0;
	margin: 0 -10px;
	.slide-two {
		outline: none;
		img {
			width: 100%;
			cursor: pointer;
			padding: 0 10px;
		}
	}
}

.services-wrap {
	.text {
		display: block;
		padding: 25px 0 0 0;
		font-size: 20px;
		font-weight: bold;
	}
	li {
    padding: 5px 0;
		a {
			border-bottom: 1px solid black;
			&:hover {
				color: red;
			}
		}
	}	
}

.service-way {
	vertical-align: middle;
	padding: 0 5px;
}


